doctype html
html
  head
    title Teste de DAW
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' crossorigin='anonymous')
  body
    nav.navbar.navbar-dark.bg-dark.mb-4
      a.navbar-brand(href="#") Less get it
    block content
